In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report


import warnings
warnings.filterwarnings("ignore")

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
scaler=StandardScaler()

In [5]:
df = pd.read_csv("/home/hala/Downloads/train.csv")

In [6]:
#Handling Embarked feature by replace the missing values with the most common value

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [7]:
cabin_only = df[["Cabin"]].copy()
cabin_only["Cabin_Data"] = cabin_only["Cabin"].isnull().apply(lambda x: not x)

In [8]:
cabin_only["Deck"] = cabin_only["Cabin"].str.slice(0,1)
cabin_only["Room"] = cabin_only["Cabin"].str.slice(1,5).str.extract("([0-9]+)", expand=False).astype("float")
cabin_only[cabin_only["Cabin_Data"]]

           Cabin  Cabin_Data Deck   Room
1            C85        True    C   85.0
3           C123        True    C  123.0
6            E46        True    E   46.0
10            G6        True    G    6.0
11          C103        True    C  103.0
..           ...         ...  ...    ...
871          D35        True    D   35.0
872  B51 B53 B55        True    B   51.0
879          C50        True    C   50.0
887          B42        True    B   42.0
889         C148        True    C  148.0

[204 rows x 4 columns]

In [9]:
cabin_only.drop(["Cabin", "Cabin_Data"], axis=1, inplace=True, errors="ignore")

cabin_only["Deck"] = cabin_only["Deck"].fillna("N")
cabin_only["Room"] = cabin_only["Room"].fillna(cabin_only["Room"].mean())

df['Deck']=cabin_only["Deck"]

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,N
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,N
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,N
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,B
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,N
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,N

In [10]:
#Second method
#replacing NaN with the mean value
df['Age_mean']=df['Age'].fillna(df.Age.mean())

In [11]:
#Third method
#use sklearn to applay the Linear Regression to predict the missing values of the age
from sklearn.linear_model import LinearRegression
lin=LinearRegression()
data_with_null=df[['Survived' ,'Pclass','SibSp','Parch','Fare','Age']]
data_without_null=data_with_null.dropna()
train=data_without_null.iloc[:,:5]
target=data_without_null.iloc[:,5]
lin.fit(train,target)
test=data_with_null.iloc[:,:5]
pridect_Age=pd.DataFrame(lin.predict(test))



data_with_null.Age.fillna(pridect_Age[0] ,inplace=True)

In [12]:
df['pridect_Age']=data_with_null.Age
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Age_mean,pridect_Age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,N,22.000000,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,38.000000,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,N,26.000000,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,35.000000,35.000000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,N,35.000000,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,N,27.000000,27.000000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,B,19.000000,19.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,N,29.699118,23.301264
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C,26.000000,26.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,N,32.000000,32.000000

In [13]:
from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=2)
df_filled=pd.DataFrame(imputer.fit_transform(df[['Survived' ,'Pclass','SibSp','Parch','Fare','Age']]),)

In [14]:
df['KNN_pridect_Age']=df_filled[5]

In [15]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Age_mean,pridect_Age,KNN_pridect_Age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,N,22.000000,22.000000,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,38.000000,38.000000,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,N,26.000000,26.000000,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,35.000000,35.000000,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,N,35.000000,35.000000,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,N,27.000000,27.000000,27.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,B,19.000000,19.000000,19.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,N,29.699118,23.301264,33.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C,26.000000,26.000000,26.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,N,32.000000,32.000000,32.0

In [16]:
df["Deck"].unique()

array(['N', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [17]:
df['Sex']=pd.get_dummies(df['Sex'],drop_first=True)

df.Embarked.replace(['S', 'C', 'Q'], [1, 2, 3], inplace=True)

df.Deck.replace(['N', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], [1, 2, 3,4,5,6,7,8,9], inplace=True)

In [18]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Age_mean,pridect_Age,KNN_pridect_Age
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,1,1,22.000000,22.000000,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,2,2,38.000000,38.000000,38.0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,1,26.000000,26.000000,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,1,2,35.000000,35.000000,35.0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,1,1,35.000000,35.000000,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,1,1,27.000000,27.000000,27.0
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,1,7,19.000000,19.000000,19.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,1,1,29.699118,23.301264,33.0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,2,2,26.000000,26.000000,26.0
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,3,1,32.000000,32.000000,32.0

In [19]:
df.drop(['Name','Ticket','Cabin','Age'] ,axis=1 , inplace=True)

In [20]:
#First : Linear * mean

In [21]:
scaled=scaler.fit_transform(df.drop(['Survived','pridect_Age' ,'KNN_pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'Age_mean', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'Age_mean', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(668, 9)
(223, 9)
(668,)
(223,)

In [22]:
LR=LogisticRegression().fit(X_train,y_train)

In [23]:
y_predict=LR.predict(X_test)

In [24]:
con_mat=confusion_matrix(y_test,y_predict)

In [25]:
con_mat=pd.DataFrame(con_mat,columns=['predicted No','predicted Yes'],index=['actual No','actual Yes'])

In [26]:
print(con_mat)

            predicted No  predicted Yes
actual No            114             22
actual Yes            28             59

In [27]:
score=accuracy_score(y_predict,y_test)

In [28]:
print(score)

0.7757847533632287

In [29]:
##Second Linear* Linear

In [30]:
scaled=scaler.fit_transform(df.drop(['Survived','Age_mean' ,'KNN_pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [32]:
LR=LogisticRegression().fit(X_train,y_train)
y_predict=LR.predict(X_test)
con_mat=confusion_matrix(y_test,y_predict)
con_mat=pd.DataFrame(con_mat,columns=['predicted No','predicted Yes'],index=['actual No','actual Yes'])
score=accuracy_score(y_predict,y_test)
print(con_mat)
print(score)

            predicted No  predicted Yes
actual No            117             22
actual Yes            24             60
0.7937219730941704

In [33]:
##Third : Linear * KNN

In [34]:
scaled=scaler.fit_transform(df.drop(['Survived','Age_mean' ,'pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'KNN_pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'KNN_pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
LR=LogisticRegression().fit(X_train,y_train)
y_predict=LR.predict(X_test)
con_mat=confusion_matrix(y_test,y_predict)
con_mat=pd.DataFrame(con_mat,columns=['predicted No','predicted Yes'],index=['actual No','actual Yes'])
score=accuracy_score(y_predict,y_test)
print(con_mat)
print(score)

            predicted No  predicted Yes
actual No            117             25
actual Yes            24             57
0.7802690582959642

In [35]:
##KNN * linear

In [36]:

# importing libraries

from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from collections import Counter
from sklearn.model_selection import cross_validate

In [37]:
scaled=scaler.fit_transform(df.drop(['Survived','Age_mean' ,'pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'KNN_pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'KNN_pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)






#X = np.array(df.filter(['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'], axis=1))

#y = np.array(df.filter(['Survived'], axis=1))
#X_1, X_test, y_1, y_test = train_test_split(X,y, test_size=0.3)
#X_tr, X_cv, y_tr, y_cv = train_test_split(X_1, y_1, test_size=0.3)

In [38]:
final_scores = []
for i in range(1,30,2):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    acc = accuracy_score(y_test, pred, normalize=True) * float(100)
    final_scores.append(acc)
    print('\n CV accuracy for k=%d is %d'%(i,acc))

 CV accuracy for k=1 is 77

 CV accuracy for k=3 is 76

 CV accuracy for k=5 is 78

 CV accuracy for k=7 is 77

 CV accuracy for k=9 is 79

 CV accuracy for k=11 is 79

 CV accuracy for k=13 is 79

 CV accuracy for k=15 is 79

 CV accuracy for k=17 is 78

 CV accuracy for k=19 is 78

 CV accuracy for k=21 is 78

 CV accuracy for k=23 is 78

 CV accuracy for k=25 is 78

 CV accuracy for k=27 is 78

 CV accuracy for k=29 is 78

In [39]:
scaled=scaler.fit_transform(df.drop(['Survived','Age_mean' ,'KNN_pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [40]:
final_scores = []
for i in range(1,30,2):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    acc = accuracy_score(y_test, pred, normalize=True) * float(100)
    final_scores.append(acc)
    print('\n CV accuracy for k=%d is %d'%(i,acc))

 CV accuracy for k=1 is 75

 CV accuracy for k=3 is 81

 CV accuracy for k=5 is 82

 CV accuracy for k=7 is 83

 CV accuracy for k=9 is 85

 CV accuracy for k=11 is 86

 CV accuracy for k=13 is 86

 CV accuracy for k=15 is 86

 CV accuracy for k=17 is 85

 CV accuracy for k=19 is 86

 CV accuracy for k=21 is 86

 CV accuracy for k=23 is 85

 CV accuracy for k=25 is 85

 CV accuracy for k=27 is 84

 CV accuracy for k=29 is 85

In [41]:


optimal_k = final_scores.index(max(final_scores))
print(optimal_k)

9

In [42]:
scaled=scaler.fit_transform(df.drop(['Survived','pridect_Age' ,'KNN_pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'Age_mean', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'Age_mean', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [43]:
final_scores = []
for i in range(1,30,2):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    acc = accuracy_score(y_test, pred, normalize=True) * float(100)
    final_scores.append(acc)
    print('\n CV accuracy for k=%d is %d'%(i,acc))

 CV accuracy for k=1 is 71

 CV accuracy for k=3 is 77

 CV accuracy for k=5 is 78

 CV accuracy for k=7 is 76

 CV accuracy for k=9 is 78

 CV accuracy for k=11 is 77

 CV accuracy for k=13 is 77

 CV accuracy for k=15 is 78

 CV accuracy for k=17 is 78

 CV accuracy for k=19 is 79

 CV accuracy for k=21 is 79

 CV accuracy for k=23 is 77

 CV accuracy for k=25 is 76

 CV accuracy for k=27 is 76

 CV accuracy for k=29 is 76

In [ ]:
##/linear

In [ ]:
X = df[['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y = df['Survived']

In [45]:
scaled=scaler.fit_transform(df.drop(['Survived','pridect_Age' ,'KNN_pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'Age_mean', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'Age_mean', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [46]:


from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
model = LinearDiscriminantAnalysis()
res = model.fit(X_train, y_train).transform(X_train)

In [47]:


y_pred= model.predict(X_test)
model.decision_function(X_test)

array([ 1.0274234 , -2.63743057, -1.51488168,  2.51401057,  0.43864275,
        2.72655011, -2.29736414, -2.67034817, -2.97992886, -2.96261945,
       -0.8218704 , -2.25439082, -2.9318218 ,  0.92796966, -2.18412285,
       -2.85770711,  3.26311844, -2.43311144, -2.27076158, -1.11626514,
       -0.44740375, -2.678339  , -2.49650253, -2.12112163, -1.45724603,
        1.26251244, -2.53359133, -2.82216714, -2.60192246, -2.66764861,
        3.29764403,  2.7968905 ,  2.79275255, -2.37183885,  1.03201377,
        2.22129567, -0.46493156, -2.35813068, -2.57615212, -3.62889056,
       -2.7661897 , -1.46921529, -2.52779854, -2.3525967 , -2.44405839,
       -2.2069803 ,  0.22734232, -1.95729121,  0.27347939, -2.46097639,
        1.21670282,  0.72418955, -1.48636664,  3.58148706, -2.81503923,
       -2.82992059,  3.02020482, -2.87807813,  2.53984134, -3.97935424,
       -3.36065976,  0.02524292,  2.39261745, -1.56894078,  3.29945409,
       -2.20565359, -0.19493246,  1.24382715, -1.02978124,  3.43567963,
       -0.56856463, -0.34955258, -3.14533777, -2.64648419, -1.30706978,
        1.67705485,  1.02192768, -0.05626623, -2.31779064,  0.06319317,
       -1.39087825, -1.14457287, -3.06568236, -2.10469374, -2.68380426,
       -0.73105454, -0.89338477,  0.36810678, -1.64699475, -2.91855115,
       -2.74655669, -2.4750491 ,  1.93904176, -2.73594326, -2.39029182,
        3.52390428, -2.26832483, -2.67286001,  0.26534736, -1.60804321,
        1.65381783,  0.47571584, -2.27758597, -2.35998916,  1.40624404,
       -2.40529596, -0.67436772, -2.57599868, -2.15755834, -1.44578068,
        3.33710163, -2.48533784, -0.59880101, -2.26490889, -3.60919533,
       -2.35458019, -2.83385144, -2.27057649, -2.83672662, -1.69525525,
       -2.60651921, -2.45313516,  1.51307728,  0.86041842, -0.05223925,
       -2.76524924,  0.6461443 ,  2.65274915, -1.75120282,  0.83339853,
       -3.21875245,  0.64169597, -3.21858191, -1.21882338, -3.24620569,
        0.94645249, -1.64032752,  1.20880407,  4.10659755, -2.89800265,
        0.841929  , -1.39715479,  0.46239596, -2.56403046, -1.58204815,
       -3.29973847, -2.63703793, -3.05127622, -1.81150936, -3.09282046,
       -1.53554734,  4.14436672, -2.59055545, -2.17824382, -0.38435984,
       -2.60841231, -2.61821304, -2.24062589, -0.90807026,  0.17524181,
        1.26872124, -1.07401652, -2.49183883, -2.76225608, -2.53772035,
       -2.24120986, -2.47569233,  1.09548501, -2.34678671, -2.70245237,
       -1.36086498, -2.85062187, -0.10445448, -3.0008385 , -2.49788346,
        2.02652921,  1.01761492, -2.37160808,  0.69705482, -2.49526821,
       -2.5811811 ,  2.89726115,  2.57327514, -2.49385146, -1.66206377,
       -0.86890753, -2.47572921,  0.26916505, -2.76264141, -1.1442027 ,
       -2.39753297,  2.86750547, -2.19127005, -2.46401201, -2.13915741,
       -2.40266563, -1.30428652, -3.05073199,  1.27036909,  3.83697991,
        1.96263392,  2.12019126,  3.70385894, -2.20219572, -3.57617093,
       -0.35445077,  0.35148479, -0.90318327, -2.8016891 ,  0.6381503 ,
       -0.1562077 ,  0.76449683,  2.16674344, -1.55370233, -3.15285808,
       -2.6443336 ,  3.67295846, -2.16094356,  0.57974467, -1.68172155,
       -0.7722717 , -2.49776391,  0.98125507])

In [48]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[134  19]
 [ 20  50]]

In [49]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.88      0.87       153
           1       0.72      0.71      0.72        70

    accuracy                           0.83       223
   macro avg       0.80      0.80      0.80       223
weighted avg       0.82      0.83      0.82       223

In [50]:
scaled=scaler.fit_transform(df.drop(['Survived','Age_mean' ,'KNN_pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)


from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
model = LinearDiscriminantAnalysis()
res = model.fit(X_train, y_train).transform(X_train)



y_pred= model.predict(X_test)
model.decision_function(X_test)
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

[[118  17]
 [ 25  63]]
              precision    recall  f1-score   support

           0       0.83      0.87      0.85       135
           1       0.79      0.72      0.75        88

    accuracy                           0.81       223
   macro avg       0.81      0.79      0.80       223
weighted avg       0.81      0.81      0.81       223

In [51]:
scaled=scaler.fit_transform(df.drop(['Survived','Age_mean' ,'pridect_Age'],axis=1))
df.columns
scaled_features=pd.DataFrame(scaled, columns=['PassengerId', 'Pclass', 'Sex', 'KNN_pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck'])
X=scaled_features[['PassengerId', 'Pclass', 'Sex', 'KNN_pridect_Age', 'SibSp', 'Parch','Fare','Embarked' ,'Deck']]
y=df['Survived']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)


from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
model = LinearDiscriminantAnalysis()
res = model.fit(X_train, y_train).transform(X_train)



y_pred= model.predict(X_test)
model.decision_function(X_test)
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

[[120  22]
 [ 26  55]]
              precision    recall  f1-score   support

           0       0.82      0.85      0.83       142
           1       0.71      0.68      0.70        81

    accuracy                           0.78       223
   macro avg       0.77      0.76      0.76       223
weighted avg       0.78      0.78      0.78       223